:host {
  display: block;
}

.card {
  -webkit-box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);

  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 150px;

  cursor: pointer;

  position: relative;

  transform-style: preserve-3d;

  text-align: center;
  font-weight: 700;
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
}

.back {
  background-color: black;
  transform: rotateY(0deg);
}

.front {
  transform: rotateY(180deg);
}

.mImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}
