.grid {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.Easy {
  grid-template-columns: repeat(4, 180px);
}

.Medium {
  grid-template-columns: repeat(6, 160px);
}

.Hard {
  grid-template-columns: repeat(8, 160px);
}

@media (max-width: 1400px) {
  .Hard {
    grid-template-columns: repeat(8, 140px);
  }
}

@media (max-width: 1200px) {
  .grid,
  .Easy,
  .Medium {
    grid-template-columns: repeat(6, 140px);
  }
}
@media (max-width: 900px) {
  .grid,
  .Easy,
  .Medium {
    grid-template-columns: repeat(3, 150px);
  }

  @media (max-width: 600px) {
    .grid,
    .Easy,
    .Medium {
      grid-template-columns: repeat(2, 150px);
    }
  }
}
